<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{pageTitle}}</h4>
      <button type="button" #closebtn class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form [formGroup]="productForm"
      (ngSubmit)="saveProduct()"
            >
          <div class="mb-3">
              <label>Id</label>
              <div class="input-group">
                  <input name="id" class="form-control" formControlName="productId">
              </div>
          </div>
          <div class="mb-3">
              <label>Product Name</label>
              <div class="input-group">
                <input class="form-control"
                id="productNameId"
                type="text"
                placeholder="Name (required)"
                formControlName="productName"/>
              </div>
          </div>
          <div class="mb-3">
              <label>Product Code</label>
              <div class="input-group">
                <input class="form-control"
                id="productCodeId"
                type="text"
                placeholder="Code (required)"
                formControlName="productCode"/>
              </div>
          </div>
          <div class="mb-3">
              <label>Price</label>
              <div class="input-group">
                <input class="form-control"
                id="productPriceId"
                type="text"
                placeholder="Price(required)"
                formControlName="price"/>
                  
              </div>
          </div>

          <div class="mb-3">
              <label>Description</label>
              <div class="input-group">
                <input class="form-control"
                id="DescriptionId"
                type="text"
                placeholder="Description"
                formControlName="productDescription"/>
                  
              </div>
          </div>

          <div class="mb-3">

              <div class="input-group">
                  <button  type="submit" class="btn btn-primary">Save</button>
              </div></div>
      </form>
  </div>
  <div class="modal-footer">
      <button style="display: none;" type="button" class="btn btn-outline-dark"
          (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-primary" #popupbtn id="popupbtn" (click)="open()">Add New</button>

