
<div class="main">
   
   <app-search (searchEvent)="performFilter($event)"></app-search>
   <table id="rwd-table"
   *ngIf="products && products.length">
  <thead>
      <tr>
      <th>Image</th>
      <th>Name</th>
      <th>code</th>
      <th>Price</th>
      <th><ng-container #manageFormContainerRef ></ng-container> </th>
</tr>
</thead>
<tbody>
<tr   *ngFor="let product of filteredProducts">
  
   
<td>
<img *ngIf=" product.imageUrl"
 [src]="product.imageUrl"
 [title]="product.productName"
 [style.width.px]="imageWidth"
 [style.margin.px]="imageMargin" alt="image not available">
</td>
<td><a [routerLink]="['/products', product.id]">
   {{ product.productName }}</a></td>
<td>{{ product.productCode }}</td>
<td>{{ product.price | customCurrency:'INR'  }}</td>
<td><a id= "button" class="btn " (click)="addToCart(product)" appHighlight [color]="color">Add To Cart</a></td>

<td><a id= "button" class="btn " (click)="openEditForm(product)">Edit</a>
   <ng-container #confirmationDialogContainerRef></ng-container>
   <a id= "button" class="btn btn-danger" (click)="deleteProduct(product.id)" >Delete</a></td>
</tr>
</tbody>
</table>
<p *ngIf="!products || products.length <0"> no products</p>
</div>

